@font-face {
    font-family: "CustomFont";
    src: url("../fonts/ArchitectsDaughter-Regular.ttf") format("ttf");
}

html,
body {
    font-family: 'CustomFont';
    font-weight: normal;
    font-style: normal;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.pesaPalIframe {
    background-image: url('../images/LoadingTransparent.gif');
}

@media (max-width: 1100px) {
    body {
        background-image: url('../images/Phone portrait 1080 x 1920 px.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}



@media (min-width: 1100px) {
    body {
        background-image: url('../images/16 9 Desktop 1920 xx 1080 px.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}










/* @media (min-width: 1200px) {
    body {
        background-image: url('../images/16 9 Desktop 1920 xx 1080 px.jpg');
        width: 100vw;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
} */



.red {
    background-color: red;
}

.green {
    background-color: green;
}