{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="row justify-content-center  mt-md-0  mb-md-5">
    <div class="col-10">
        <h3 class="text-center">
            Please enter your gift amount
        </h3>
    </div>
</div>

<div class="row mb-2">
    <div class="col">

        <form id="giftsForm" action="{% url 'process_gift' %}" method="POST">
            {% csrf_token %}
            <div class="row mb-2">
                <label for="amount" class="col-sm-4 col-form-label number-separator">Amount</label>
                <div class="input-group col-sm-8">
                    <input class="form-control" id="amountInput" name="giftAmount" type="number" min=0 required>
                    <span class="input-group-text" id="amount_input_group">KES</span>
                </div>
            </div>
            <div class="row mb-2">
                <label for="phoneNo" class="col-sm-4 col-form-label">Phone no</label>
                <div class="input-group col-sm-8">
                    <input type="number" class="form-control" id="phoneNo" name="phoneNo" required>
                    <div class="invalid-feedback">Please a valid phone number</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <div class="row">
                <label class="mb-1" for="giftMethodRadio">Please select one</label>
                <div class="col-6">
                    <fieldset>
                        <div class="form-check" id="giftMethodRadio">
                            <input class="form-check-input" type="radio" name="giftMethod" id="giftMethodId1"
                                value="Mpesa" checked>
                            <label class="form-check-label" for="giftMethodId1">
                                Mpesa
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="giftMethod" id="giftMethodId2"
                                value="Card">
                            <label class="form-check-label" for="giftMethodId2">
                                Card
                            </label>
                        </div>
                    </fieldset>
                </div>

                <div class="col-6 d-flex align-items-center justicy_content-center">
                    <button type="submit" id="proceedButton" class="btn btn-primary">Proceed</button>
                </div>

            </div>




        </form>
    </div>
</div>







{% if redirect_url %}
<div class="ratio ratio-16x9">
    <iframe src="{{ redirect_url }}" title="Pesapal redirect" allowfullscreen></iframe>
</div>
{% endif %}

{% endblock %}