{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="row">
    <h4 class="text-center">
        Enter your gift amount
    </h4>
</div>

<div class="row">
    <div class="col-12">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">KES</span>
            <input type="text" class="form-control" aria-label="Gift amount"
                aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary">Mpesa</button>
    </div>

    <div class="col">
        <button type="button" class="btn btn-secondary">Card</button>
    </div>
</div>



{% if redirect_url %}
<iframe src="{{ redirect_url }}" title="description" width="1400" height="800"></iframe>
{% endif %}

{% endblock %}