{% extends "pesapalBase.html" %}
{% load static %}


{% block content %}
<div class="h-100 w-100 d-flex align-items-center justify-content-center">

    <div class="row h-100 w-100 d-none" id="pesaPalIframeDiv">
        <div class="col-12 h-100 w-100 p-0">
            <iframe src="{{ redirect_url }}" id="pesaPalIframe" height="100%" width="100%" title="Pesapal redirect"
                allowfullscreen>
            </iframe>

        </div>
    </div>


    <div class="row d-block h-75 d-flex justify-content-center align-items-center" id="loadingMessage">
        <div class="col-12 d-flex">
            <div class="text-center">
                <div class="spinner-border" role="status">
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}