{% extends "base.html" %}
{% load static %}


{% block content %}

<form action="{% url 'gift_processed' %}" method="POST">
    {% csrf_token %}
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-md-8">
            <h3 class="text-center p-2">Your transaction is being processed</h3>

            <p>Please enter your Mpesa pin on the STK push sent to your phone before pressing proceed</p>

            <input name="order_tracking_id" value="{{order_tracking_id}}" hidden>
            <input name="phoneNo" value="{{phoneNo}}" hidden>
            <input name="amount" value="{{amount}}" hidden>


            <div class="row pt-4">
                <div class="col d-flex justify-content-between">
                    <button type="submit" class="btn btn-danger" name="submitButton" value="Back">Back</button>
                    <button type="submit" class="btn btn-success" name="submitButton" value="Proceed">Proceed</button>
                </div>
            </div>

        </div>
    </div>

</form>




{% endblock %}